.k-section-name-translations {
	padding-bottom: 2.25rem;
}
.translations-status {
	line-height: 1.25rem;
	border: 1px solid #ccc;
	background: #fff;
}

.translation-status {
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: stretch;
	width: 100%;
}
.translation-state:hover,
.translation-state:focus,
.translation-link:hover,
.translation-link:focus {
	background: #fafafa;
}
.translation-status:active,
.translation-status.active {
	background: #f6f6f6;
}

.translation-status:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
button.translation-state {
	padding: 0.7rem 0.75rem;
	border-right: solid 1px #ccc;
}
button.translation-state .k-icon.translated {
	color: #97b349;
}
button.translation-state .k-icon.untranslated {
	color: #ccc;
}
button.translation-link {
	padding: 0.6rem 0.75rem;
	width: 100%;
	text-align: left;
}
