.k-section-name-translations {
  padding-bottom: 2.25rem;
}
.translations-status {
  line-height: 1.25rem;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: var(--rounded);
}

.translation-status {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
  width: 100%;
}
.translation-state:hover,
.translation-link:hover {
  background: #fdfdfd;
  text-decoration: underline;
}
.translation-status:active,
.translation-status.active {
  text-decoration: underline;
}

.translation-status:not(:last-child) {
  border-bottom: 1px solid var(--table-color-border);
}
button.translation-state {
  height: var(--table-row-height);
  width: var(--table-row-height);
  border-right: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-inline-end: 1px solid var(--table-color-border);
}
button.translation-link {
  height: var(--table-row-height);
  padding-inline: var(--table-cell-padding);
  width: 100%;
  text-align: left;
}

.k-icon.translated-true {
  color: #65b900;
}
.k-icon.translated-pending {
  color: #d08902;
}
.k-icon.translated-false {
  color: #ddd;
}

.translation-breadcrumbs {
  opacity: 0.5;
}
.translations-index .span-block {
  width: 30px;
  display: inline-block;
}
.translation-index-state {
  padding: 0 1rem;
  text-transform: uppercase;
  text-align: center;
  min-width: 50px;
  display: inline-block;
}

.k-translations-index-header {
  position: sticky;
  top: var(--header-sticky-offset);
  z-index: 1;
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  color: var(--table-color-th-text);
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 2px;
}
.k-translations-index-header .k-translations-index-header-item {
  height: var(--table-row-height);
  padding-inline: var(--table-cell-padding);
  display: flex;
  align-items: center;
}
.k-translations-index-header .k-translations-index-header-title {
  flex-grow: 1;
}
.k-translations-index-header
  .k-translations-index-header-item.translation-index-state {
  justify-content: center;
}

.k-translations-index-header .k-item-figure {
  border-right: solid 1px #e6e6e6;
}

.k-translations-index-loading-container {
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
  color: #666;
}
.k-translations-index-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.k-translations-index-spinner > .icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.k-translations-index-loading {
  margin-top: 10px;
}
.k-translations-buttons {
  flex-shrink: 0;
}
